body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $serif;
}


a{
    &:hover{
        &:active{
            text-decoration: none;
            color: black;
        }
    }
}

ul{
    list-style: none;
    
}
li{
    color: black;
}