// ----------Importing ---------

// importing other sass files


@import "_variables.scss";
@import "_starters.scss";
@import "_mixins.scss";

// ---------------header area--------------------

// social icons

.top-area-container{
    width: 100%;
    border-bottom: 1px solid #f2f2f2;

    .social-icons img{
        height: 24px;
        width: 24px;
        margin: 13px 0px 13px 10px;

        &:hover{
            height: 32px;
            width: 32px;
            transition: 0.5s;
            margin: 9px 0px 9px 10px;
        }
    }

    .search-btn{
        float: right;

        img{
            height: 24px;
            width: 24px;
            margin: 13px 10px 13px 0px;
        
            &:hover{
                height: 32px;
                width: 32px;
                transition: 0.5s;
                margin: 9px 10px 9px 0px;
            }
        }
    }
}

// social icons area ended

// logo area

.logo_area{

    img{
        margin: 25px;
        height: 140px;
        width: 340px;

        @include mQ(450px){
            margin: 15px;
            height: 75px;
            width: 190px;
        }
    }
}

// logo area ended

//nav-bar
.navbar-nav{  
    .nav-item{
        padding: 5px 20px;
        font-family: $serif;
        font-weight: 500;        
        text-transform: uppercase;
        .nav-link, .dropdown-item{           
            font-size: 14px;
            text-transform: uppercase;
            color: black;

            &:hover{
                color: $orange;
                font-weight: bold;
            }
        }

        .nav-link:active{
            color: $bright-red;
        }
        
    }
}
//navbar ended
/* ======== Header Area End ======= */

/* ======== Welcome Area start ======= */

.welcome-section{    
    h1{
        @include secHeading;
    }
}


.carousel-inner .carousel-item{
    width: 100%;
    height: 600px;
}

// ourpicks-section

.ourpicks-section{
    h1{
        @include secHeading;
    }

    @include overlay;

}

//ourpicks-section ended

/* ======== Popular section Area start ======= */

.popular-section{    
    h1{
        @include secHeading;
    }
}

.popular-posts .cards{
    display: inline;
}