*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	font-family: Raleway;
	background: linear-gradient(90deg, rgba(194,19,155,1) 5%, rgba(162,23,77,1) 44%, rgba(92,25,116,1) 91%);
}

.Registration-Form{
	width: 640px;
	margin: 50px auto;
	background-color: #fff;
	box-shadow: 2px 8px 21px -9px rgba(0,0,0,0.75);
	border-radius: 10px;
}

.form-head h1{
	padding: 50px 0px 0px 50px;
	font-size: 24px;
}

.form-body{
	padding: 20px 50px;
	height: auto;
}

.input-title{
	font-size: 18px;
	font-weight: bold;
	display: block;
}

.form-input{
	height: 36px;
	width: 100%;
	font-size: 16px;
	margin-top: 5px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #f2f2f2;
	background-color: #F2F2F2;
}

.group-input{
	margin: 10px 0px;
}

.left{
	width: 49%;
	float: left;
}

.right{
	width: 49%;
	float: right;
}

#radio{
	font-size: 18px;
	color: #2E3640;
}

.gender{
	margin: 14px 0px;
}

.submit-btn{
	padding: 10px 25px;
	margin: 20px 0px 60px 50px;
	background-color: #0B4FD9;
	border: 1px solid #0B4FD9;
	border-radius: 5px;
	font-size: 18px;
	color: #fff;
}

.submit-btn:hover{
	background-color: #fff;
	color: #0B4FD9;
	box-shadow: 2px 8px 21px -9px rgba(0,0,0,0.75);
}